* {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Arial',Arial, Helvetica, sans-serif
}

#wrapper {
    width: 100%;
    min-height: 60px;
}
hr{
    width: auto;
    height: 10px;
    background-color: #9E2630;
}
#wrapper #header{
    height: 130px;
    background-color: #ffffff;
}

#wrapper #header .header_left{
    height: 110px;
    padding-top: 20px;
    width: 288px;
    float: left;
}
#wrapper #header .header_right{
    height: 110px;
    padding-top: 50px;
    width: 440px;
    float: right;
}
#wrapper #header .header_right ul{
    list-style-type: none;
}
#wrapper #header .header_right ul li{
    float: left;
    width: 110px;
}
#wrapper #header .header_right a{
    font-size: 20px;
    color: #9E2630;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    display: block;
    height: 80px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Arial',Arial, Helvetica, sans-serif
}
#wrapper #header .header_right a:hover{
    color: black;
}

#wrapper #sliderwrapper{
    height: 450px;
    margin-bottom: 20px;
}
#wrapper #content{
    background-color: #ffffff;
    min-height: 500px;
}
#wrapper #content #contact_left{
    min-height: 320px;
}
#wrapper #content #contact_left .left {
    width: 480px;
    float: left;
    margin-top: 10px;
    min-height: 320px;
}
#wrapper #content #contact_left .left img{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#wrapper #content #contact_left .left p{
    font-size: 16px;
    font-style: italic;
    text-align: justify;
}
#wrapper #content #contact_right{
    min-height: 320px;
}
#wrapper #content #contact_right .right {
    margin-left:-180px;
    width: 480px;
    float: left;
    margin-top: 10px;
    min-height: 320px;
}
#wrapper #content #contact_right .right img{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#wrapper #content #contact_right .right p{
    font-size: 16px;
    font-style: italic;
    text-align: justify;
}


#link {
    background-color: #9E2630;
    margin-top: 1px;
    color: #ffffff;
    font-size: 26px;
    padding: 10px 0 10px 20px;
    font-weight: lighter;
    letter-spacing: 1px;
    border-radius: 5px;
}
#maps {
    margin-top: 10px;
}
#wrapper #content #content_bottom{
    /* background-color: #ffcc00; */
    min-height: 320px;
}
#wrapper #content #content_bottom #content_bottom_left{
    width: 1100px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    /* min-height: 320px; */
}
#wrapper #content #content_bottom #content_bottom_left img{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#wrapper #content #content_bottom #content_bottom_left p{
    font-size: 16px;
    font-style: italic;
    text-align: justify;
}

#wrapper #footer{
    background-color: #9E2630;
    height: 50px;
    margin-bottom: -60px;
    color: #ffffff;
    line-height: 50px;
    text-align: center;

}
#footer {
    background-color: #9E2630;
    height: 50px;
    margin-bottom: -60px;
    color: #ffffff;
    line-height: 50px;
    text-align: center; 
}
.container {
    width: 1150px;
    overflow: hidden;
    min-height: 45px;
    margin: auto;
}
#submit button{
    text-align: right;
}